<nav>
  <ul>
    <li><%= link_to 'Log in', new_session_path, :class => 'active' %></li>
    <li><%= link_to 'Sign up', new_users_path %></li>
    <li><a href='https://github.com/kikuchiyo-games/vim-agility-game.git'>Source</a></li>
    <li><a href='http://www.vim.org/download.php'>Download Vim</a></li>
  </ul>
</nav>

<%= form_tag session_path, :class => 'session-form' do %>
  <!--h3 id = 'log-in' class = 'span-10 push-2'>Log In</h3-->

  <p>
    <%= label_tag :email, nil %>
    <%= text_field_tag :email %>
  </p>

  <p>
    <%= label_tag :password, nil %>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= label_tag '', nil %>
    <%= submit_tag 'login', :class => 'push-2' %>
  </p>

  <% if !flash[:notice].blank? %>
    <p id = 'notice' style = 'color:red; font-weight:bold;' class = 'span-10 push-8'>
      <%= flash[:notice] %>
    </p>
  <% end %>

<% end %>

<div class = 'span-10'>
  <%#= render :partial => 'shared/theme_music' %>
  <%#= render :partial => 'shared/facebook' %>
</div>

<div > 
  <% if Time.now.strftime('%m %d') == '02 14' %>
    <h1 class = 'push-1' style = 'font-family: Brush Script MT; position:absolute; bottom:10%; color:red;'> Happy Valentines Day, Liyan!  I love you so much!</h1>
    <%= image_tag 'valentines_day.png', :class => 'pull-3', :style => 'margin-top:-100px;'  %>
  <% end %>
</div>
