
<div id = 'create-account' class = 'push-5 span-20'>
  <p class = 'span-6'>Equal Opportunity Education</p>

  <%= image_tag 'createNewAccount.png', :class => 'span-1' %>
  <%= link_to '  Create an Account!', new_users_path, :class => 'span-4' %>
  <a href = 'https://github.com/kikuchiyo/vim_game' class = 'span-3'>Source Code</a>
  <a href = 'http://www.vim.org/download.php' class = 'span-4'>Download Vim</a>
</div>

<%= form_tag session_path, :class => 'gradiant-green-black span-24' do %>
  <h3 id = 'log-in' class = 'span-10 push-2'>Log In</h3>
  <hr>
  <p class = 'span-18 push-2' >
    <%= label_tag :email, nil, :class => 'span-2' %>
    <%= text_field_tag :email %>
  </p>
  <p class = 'span-18 push-2' >
    <%= label_tag :password, nil, :class => 'span-2' %>
    <%= password_field_tag :password %>
    <br />
    <br />
    <%= submit_tag 'login', :class => 'push-2' %>
  </p>
  <hr>

  <% if !flash[:notice].blank? %>
    <p id = 'notice' style = 'color:red; font-weight:bold;' class = 'span-10 push-8'>
      <%= flash[:notice] %>
    </p>
  <% end %>

<% end %>
<div class = 'span-10'>
  <%= render :partial => 'shared/theme_music' %>
  <%= render :partial => 'shared/facebook' %>
</div>

<div > 
  <h1 class = 'push-1' style = 'font-family: Brush Script MT; position:absolute; bottom:10%; color:red;'> Happy Valentines Day, Liyan!  I love you so much!</h1>
  <%= image_tag 'valentines_day.png', :class => 'pull-3', :style => 'margin-top:-100px;'  %>
</div>
