    <%= stylesheet_link_tag    "index.css" %>
    <%= javascript_include_tag "jquery-1.7.1.min", 
      "jquery-1.8.1-min.js",
		  "jquery-ui-1.8.23-min.js",
      "jquery.ui.touch-punch.min.js",
		  "jsBezier-0.5.js",
		  "jsPlumb-util-1.4.0-RC1.js",
		  "jsPlumb-dom-adapter-1.4.0-RC1.js",
		  "jsPlumb-1.4.0-RC1.js",
		  "jsPlumb-defaults-1.4.0-RC1.js",
		  "jsPlumb-connectors-statemachine-1.4.0-RC1.js",
		  "jsPlumb-connectors-flowchart-1.4.0-RC1.js",
		  "jsPlumb-renderers-svg-1.4.0-RC1.js",
		  "jsPlumb-renderers-canvas-1.4.0-RC1.js",
		  "jsPlumb-renderers-vml-1.4.0-RC1.js",
		  "jquery.jsPlumb-1.4.0-RC1.js"
     %>

    <script>GAME_OVER = false;</script>
	  <script>
      $(document).ready(function(){

        PICTURES = [
          "dead_forest.png",
          "banished.png",
          "sent_to_land_of_cs_dogmas.png",
          "introducing_the_cs_dogmas.png",
          "offer_to_help_code_in_exchange_for_help.png"
        ];

        place_pictures_on_page = function( width, dom_element ){

          var start_list = ""; 
          var end_list = "";

          if ( width == 55 ){
            var start_list = "<li>"; 
            var end_list = "</li>"
          }

          //for ( var p in PICTURES ) {
          //  var pic = PICTURES[ p ];
          //  var href = "#";

  	      //  string =  start_list + "<a href=\"" + href + "\" target=\"_blank\">";
          //  string += "  <img ";
          //  string += "    width=\"" + width  + "\" ";
          //  string += "    alt=\"1144953 3 2x\" ";
          //  string += "    src=\"images/kikuchiyo_introduction/" + pic + "\" ";
          //  string += "  > ";
          //  string += "</a> " + end_list;

          //  $(dom_element).append( string );

          //}
        };

        //place_pictures_on_page( 856, ".slides_container" );

	  	  // $(function(){
	  	  // 	$('#products').slides({
	  	  // 		preload: true,
	  	  // 		preloadImage: 'images/images/loading.gif',
	  	  // 		effect: 'slide, fade',
	  	  // 		crossfade: true,
	  	  // 		slideSpeed: 450,
	  	  // 		fadeSpeed: 500,
	  	  // 		generateNextPrev: true,
	  	  // 		generatePagination: false
	  	  // 	});
	  	  // });
      });

	  </script>
    <style>
      #player_action { text-align:left; top:0%; left:0%; font-size:32px; }
    </style>
  	<div id = "container">
  		<!--div id = "products_example">
  			<div id = "products">
  				<div class = "slides_container"></div>
  				<ul  class = "pagination"></ul >
  			</div>
  		</div-->

  		<div id = "footer"> </div>
      <script>
        // audio_div("picked_up_gem", "sounds/gem_up.wav");
        // audio_div("theme", "sounds/kikuchiyo_training_theme.wav");
        // audio_div( "teleport_sound", "sounds/electronics014 1.wav" );
        // audio_div(
        //   "thunder_clap", 
        //   "weather/weather_thunder_rain_03_NifterDotCom.wav"
        // );
      </script>
  	</div>
    <%#= stylesheet_link_tag    "main.css" %>
    <div id = 'map-header' class = 'span-24'>
      <h2>Land of Computer Science Dogmas</h2> 
    </div>
    <div id = 'map' class = 'span-24'>
      <div id = 'walking_slow' class = 'push-2 span-24'>
        <%= link_to image_tag( 'blue_glossy_ball.png' ),'game/ruby_chase', {:class => 'span-1 window'} %>
        <p>Concentration Camp<p>
      </div>
      <div id = 'walking_fast' class = 'push-6 span-10'>
        <%= link_to image_tag( 'unexplored_town.png' ), 'game/ruby_chase', {:class => 'span-1 window' } %>
      </div>
      <div id = 'running' class = 'push-2 span-10'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'jumping_slow' class = 'span-2'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'jumping_fast' class = 'push-2 span-2'>
        <%= image_tag  'unexplored_town.png' %>
      </div>

      <div id = 'hopping_around' class = 'push-9 span-14'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'teleporting_slow' class = 'push-4 span-14'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'teleporting_fast' class = 'push-3 span-14'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'genius' class = 'push-1 span-2'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'magic_slow' class = 'push-1 span-14'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'magic_fast' class = 'push-3 span-2'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'wizard' class = 'push-3 span-2'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'monkey' class = 'push-5 span-14'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
      <div id = 'dragon' class = 'push-6 span-2'>
        <%= image_tag  'unexplored_town.png' %>
      </div>
    </div>
  </div>
  <%= render :partial => 'shared/thunderclap' %>

  <%= javascript_include_tag "helpers/flowchartConnectorsDemo.js" #,
		  #"helpers/demo-list.js",
		  #"helpers/demo-helper-jquery.js"
  %>


