    <script> 
      USER_ID = <%= current_user.id %>;
      TRAINING = true;
      GAME_OVER = false; 
      USER_NEEDS_A_CHALLENGE = true;
      USER_BEING_CHALLENED = false;
    </script>
    <%= javascript_include_tag "jquery/jquery-1.9.0.js", 
      "jquery/jquery-ui-1.10.0.custom.js", 
      "game_music/sounds", 
      "game_structures/sheet_clips", 
      "game_structures/animation", 
      "game_structures/movement", 
      "game_objects/power_balls",
      "game_objects/loot",
      "game_objects/kikuchiyo", 
      "game_objects/spear", 
      "game_initialization/config", 
      "game_initialization/game", 
      "game_initialization/doc_ready"
    %>  

    <%= stylesheet_link_tag    "main.css" %>
    <%= stylesheet_link_tag    "draw_target.css" %>
    <%= stylesheet_link_tag    "ruby_chase.css" %>

    <title>Training! Collect all the rubies in under 30 seconds.</title>
    <div class = 'span-20 push-5' id = 'lesson'>
      <div id = ''class = 'push-1 span-10'>
        <p style="color:yellow;"> Lesson 01: Gather Treasure to pay off the guards <span id = 'payoff_count'>0/20</span></p>
      </div>

      <!--div id="leftheader" class = 'push-1 span-18'>
        <p style = 'text-shadow:10px 10px 10px; color:white;'>
          "Some win through speed, even if they are clumsy" 
          - Cao Cao, on Sun Zhu's Art of War
        </p>
      </div-->
    </div>

    <div id="score-board" class = 'span-10'>
      <ul id = "score-board-list" class = "span-10">
        <li class = "score-rubies span-4"  > &nbsp; Rubies : <span id = 'rubies'>0</span> </li>
        <li class = "score-diamonds span-4"> &nbsp; Diamonds : <span id = 'diamonds'>0</span>  </li>
        <li class = "score-points span-4"  > &nbsp; Experience : <span id = 'experience_points'>0</span>  </li>
        <li class = "score-kills span-4"  > &nbsp; Kills : <span id = 'kills'>0</span>  </li>
        <li class = "score-bravery-points span-8"  > &nbsp; Bravery Points : <span id = 'bravery_points'>0</span>  </li>

        <!--li class = "span-4"  > 		      
          <div class = 'span-1'>
            <div class='dash' >
            	<span class='dash_title'>Seconds</span>
            	<div class='digit'>0</div>
            	<div class='digit'>0</div>
            </div>
		      </div>
        </li-->
      </ul>
    </div>
    <%= link_to image_tag( 'curtain.png', :class => 'span-2 clickable', :style => 'position:absolute; z-index:100; left:30; top:140px;', :title => 'Flee'), game_index_path %>
    <%= image_tag( 'bamboo.png', :class => "span-2 clickable pull-1", :style => 'position:absolute; z-index:88; top:140px;', :title => 'Flee')%>
    <% 25.times do |i| %>
      <%= image_tag( 'bamboo.png', :class => "span-2 clickable push-#{i}", :style => 'position:absolute; z-index:88; top:140px;', :title => 'Stop using the mouse.')%>
    <% end %>
    <%= image_tag( 'curtain.png', :id => 'escape_route', :class => 'span-2 clickable push-24', :style => 'position:absolute; z-index:100; top:150px; display:none;', :title => 'Flee') %>

    <div id = 'draw-target'>
    </div>
    <%= render :partial => 'shared/chase_music' %>
    <script>
      $(document).ready(function(){
        alert( 'A riot has broken out in the concentration camp.  Gather enough rubies and diamonds to bribe the guards. PRESS `i` TO PICK UP ITEMS.'  );
      });
    </script>
