    <script> 
      TRAINING = true;
      GAME_OVER = false; 
      USER_NEEDS_A_CHALLENGE = true;
      USER_BEING_CHALLENED = false;
    </script>
    <%= javascript_include_tag "jquery-1.7.1.min",
      "sheet_clips", "animation", "movement", "power_balls",
      "div_makers", "table_maker", "dev_rubies",
      "dev_kikuchiyo", "config", "game", "sounds", "doc_ready"
    %>  
    <%= stylesheet_link_tag    "main.css" %>
    <%#= stylesheet_link_tag    "global.css" %>
    <%= stylesheet_link_tag    "draw_target.css" %>
    <%= javascript_include_tag "countdown/countdown.js"%>  
    <%= javascript_include_tag "countdown/countdown_calls.js"%>  

    <title>Training! Collect all the rubies in under 30 seconds.</title>

    <div class = 'push-1 span-3'>
      <p style="color:red;"> Lesson 01: </p>
    </div>
    <div id="leftheader" class = 'push-1 span-18'>
      <p style = 'text-shadow:10px 10px 10px; color:brown;'>
        "Some win through speed, even if they are clumsy" 
        - Cao Cao, on Sun Zhu's Art of War
      </p>
    </div>

    <div id="score-board" class = 'span-24'>
      <ul id = "score-board-list" class = "push-2 span-24" style = 'margin-top: -30px;'>
        <li class = "score-rubies span-4"  > Rubies : <span id = 'rubies'>0</span> </li>
        <li class = "score-diamonds span-4"> Diamonds : <span id = 'diamonds'>0</span>  </li>
        <li class = "score-points span-4"  > Experience : <span id = 'experience_points'>0</span>  </li>
        <li class = "score-bravery-points span-4"  > Bravery Points : <span id = 'bravery_points'>0</span>  </li>
        <li class = "span-4"  > 		      
          <div class = 'span-1'>
            <div class='dash' >
            	<span class='dash_title'>Seconds</span>
            	<div class='digit'>0</div>
            	<div class='digit'>0</div>
            </div>
		      </div>
        </li>
      </ul>
    </div>

    <div id = 'draw-target'>
    </div>

    <%= render :partial => 'shared/chase_music' %>
