<br />
<br />
<div class = 'span-30 push-1'>
  <ul class = 'list_container'>
    <li class = 'span-24 white'>
      <ul class = 'inline'>
        <li class = 'span-5'> name </li>
        <li class = 'span-3'> Lead </li>
        <li class = 'span-3'> Nuts </li>
        <li class = 'span-3'> Bling</li>
        <li class = 'span-3'> Ruby </li>
        <li class = 'span-3'> Kills</li>
      </ul>
    </li>
    <hr class = 'span-24'>
    <% @profiles.each do |profile| %>
      <% user = User.find( profile.user_id ) %>
      <li class = 'span-24'>
        <ul class = 'inline'>
          <li class = 'span-5'> <%= user.email%> </li>
          <li class = 'span-3'> <%= profile.experience_points.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></li>
          <li class = 'span-3'> <%= profile.bravery_points.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></li>
          <li class = 'span-3'> <%= profile.diamonds %></li>
          <li class = 'span-3'> <%= profile.rubies %></li>
          <li class = 'span-3'> <%= profile.kills %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
<%= render :partial => 'shared/facebook' %>
