<br />
<br />
<div class = 'span-20 push-1' >
  <ul class = 'list_container'>
    <li class = 'span-18 white'>
      <ul class = 'inline'>
        <li class = 'span-5'> name </li>
        <li class = 'span-2'> Lead </li>
        <li class = 'span-2'> Nuts </li>
        <li class = 'span-2'> Bling</li>
        <li class = 'span-2'> Ruby </li>
        <li class = 'span-2'> Kills</li>
      </ul>
    </li>
  </ul>
  <hr class = 'span-18'>
  <ul class = 'list_container'  style = 'overflow-y: scroll; height:400px; width:100%;'>
    <li>
      <% @profiles.each do |profile| %>
        <% user = User.find( profile.user_id ) %>
        <li class = 'span-18' >
          <ul class = 'inline' >
            <li class = 'span-5'> <%= user.email%> </li>
            <li class = 'span-2'> <%= profile.experience_points.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></li>
            <li class = 'span-2'> <%= profile.bravery_points.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></li>
            <li class = 'span-2'> <%= profile.diamonds %></li>
            <li class = 'span-2'> <%= profile.rubies %></li>
            <li class = 'span-2'> <%= profile.kills %></li>
          </ul>
        </li>
      <% end %>
    </li>
  </ul>
</div>
<%= render :partial => 'shared/facebook' %>
