<div class = 'span-20'>
  <h3 class = 'span-18' id = 'welcome-text' class ='text'>
    <%= @user.email %>, to start your journey, we will be focusing on the 
    keys below.  Remember these keys when you travel outside.
    <%= image_tag 'blood.png', :class => 'span-1' %>
  </h3>
</div>
<div id = 'dojo' class = 'push-1 span-22'>
  <div class = 'text push-7 span-24' id = 'key-description'>
    <div class = 'span-10'>
      <hr class = 'pull-1 span-10'>
    </div>
    <div class = 'span-24' id = 'letter-container'>
      <%= image_tag 'letter-h-icon.png' , :class => 'span-2 key', :title => 'Will move you left' %>
      <%= image_tag 'letter-j-icon.png' , :class => 'span-2 key', :title => 'Will move you down' %>
      <%= image_tag 'letter-k-icon.png' , :class => 'span-2 key', :title => 'Will move you up' %>
      <%= image_tag 'letter-l-icon.png' , :class => 'span-2 key', :title => 'Will move you right' %>
    </div>
  </div>

</div>
<div id = 'user_header' class = 'span-22 push-1'>
  <%= stylesheet_link_tag 'dojo' %>
  <div class = 'span-24'>
    <div class = 'span-20'>
    <hr class = 'span-22'>
    </div>
  </div>
  <div class = 'span-3'>
    <p class = 'span-3'> 
      <%= link_to image_tag( 'curtain.png', :class => 'span-2 clickable', :title => 'Travel Outside'), game_index_path %>
    </p>
  </div>

  <div class = 'span-3'>
    <p class = 'span-3'> 
      <%= image_tag 'sign.png', :class => 'span-2 clickable', :title => 'Seek Direction'%>
     </p>
  </div>

  <div class = 'span-3'>
    <p class = 'span-3'> 
      <%= link_to image_tag( 'guide.png', :class => 'span-2 clickable', :title => 'Leaderboard' ), leaderboard_path %> 
 
    </p>
  </div>

  <div class = 'span-3'>
    <p class = 'span-3'> 
      <%= image_tag 'levelUp.png', :class => 'span-2 clickable', :title => 'Level Up!'%> 
    </p>
  </div>

  <div class = 'span-3'>
    <p id = 'user_stats_container' class = 'span-3'> 
      <%= image_tag 'stats.png', :class => 'span-2 clickable', :title => 'Journal' %> 
      <div id = 'user_stats' style = 'display:none;'>
        <h5> User Profile: </h5>
        <hr>
        <ul>
          <li>email: <%=current_user.email %></li>
        </ul>
        <ul>
          <% profile = current_user.profile %>
          <li>Wealth <%=profile.experience_points %></li>
          <li>Bravery <%=profile.bravery_points%></li>
          <li><%= image_tag 'rubies/ruby.png' %> <%=profile.rubies%></li>
          <li><%= image_tag 'rubies/diamond.png' %> <%=profile.diamonds%></li>
          <li><%= image_tag 'blood_small.png' %> <%=profile.kills%></li>
        </ul>
      </div>
    </p>
  </div>

  <div class = 'span-3'>
    <p class = 'span-3'> 
      <%= image_tag 'edit.png', :class => 'span-2 clickable', :title => 'Edit Profile'%> 
    </p>
  </div>
  <div class = 'span-3'>
    <p class = 'span-3'> 
      <%= link_to image_tag( 'bed.png', :class => 'span-2 clickable', :title => 'Rest'), logout_path %>
     </p>
  </div>


</div>

<%= render :partial => 'shared/chase_music' %>
<%= javascript_include_tag "jquery-1.7.1.min" %>
<%= render :partial => 'shared/profile_stats' %>
